<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.haetssal_jangteo.mapper.AdminStoreMapper">
    <sql id="search">
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="search.keyword != null and search.keyword != ''">
                and s.store_name like concat('%', #{search.keyword}, '%')
            </if>
            <if test="search.storeRegion != null and search.storeRegion != ''">
                and s.store_address = #{search.storeRegion}
            </if>
            <if test="search.storeState != null and search.storeState != ''">
                and s.store_state = #{search.storeState}
            </if>
        </trim>
    </sql>

    <select id="selectAllStores" resultType="storeVO">
        select id, store_market_id, store_owner_id, store_name,
               store_intro, store_address, store_score, store_state, store_is_confirmed,
               created_datetime, updated_datetime
        from tbl_store
        order by id desc
    </select>

    <select id="selectAll" resultType="storeDTO">
        select s.id, s.store_market_id, s.store_owner_id, s.store_category_id, s.store_name,
               s.store_intro, s.store_address, s.store_score, s.store_state, s.store_is_confirmed,
               s.created_datetime, s.updated_datetime,
               c.category_name as storeCategoryName
        from tbl_store s
        left join tbl_category c on s.store_category_id = c.id
        <where>
            <include refid="search"/>
        </where>
        order by s.id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectTotal">
        select count(*)
        from tbl_store s
        <where>
            <include refid="search"/>
        </where>
    </select>

    <select id="selectDistinctRegions">
        select distinct store_address
        from tbl_store
        where store_address is not null and store_address != ''
        order by store_address
    </select>

    <select id="selectById" resultType="storeDTO">
        select s.id, s.store_market_id, s.store_owner_id, s.store_category_id, s.store_name,
               s.store_intro, s.store_address, s.store_score, s.store_state, s.store_is_confirmed,
               s.created_datetime, s.updated_datetime,
               c.category_name as storeCategoryName
        from tbl_store s
        left join tbl_category c on s.store_category_id = c.id
        where s.id = #{id}
    </select>

    <update id="update">
        update tbl_store
        set store_name = #{storeName},
            store_address = #{storeAddress},
            store_state = #{storeState, typeHandler=com.app.haetssal_jangteo.mybatis.handler.StoreStateHandler},
            updated_datetime = current_timestamp
        where id = #{id}
    </update>
</mapper>
